<div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="User.photo" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{User.nom}} {{User.firstName}}</h5>
    <p class="card-text">Prénom = {{User.firstName}}.</p>
    <p class="card-title">{{User.quote}}</p>
    <input class="card-text"[(ngModel)]="User.quote" placeholder="Enter your quote here">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngIf="this.isButtonVisible">{{User.age}} ans</li>
    <li class="list-group-item"><button (click)="this.isButtonVisible = !isButtonVisible">Afficher/Masquer l'age</button></li>
  </ul>
</div>