
  <div><img [src]="User.photo" [alt]="nom" /> <br/></div>
  <ul>
    <li><h2>Nom = {{User.nom}} <br/></h2></li>
    <li><h2>Prénom = {{User.firstName}} <br/></h2></li>
    <li><h2>{{User.quote}} <br/></h2></li>
    <li><h3 *ngIf="this.isButtonVisible">{{User.age}} ans</h3></li>  <button *ngIf="this.isButtonVisible" (click)="this.isButtonVisible = false">Masquer l'age</button>  <button *ngIf="!this.isButtonVisible" (click)="this.isButtonVisible = true">Afficher l'age</button>
  </ul>
  <input [(ngModel)]="User.quote" placeholder="Enter your quote here">

